{% extends "layouts/main.html" %}

{% block pageTitle %}
  Book a Consultation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What's your name?
      </h1>

      <form class="form" action="/email" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="name">
            Name
          </label>
          <input class="govuk-input" id="name" name="name" type="text" required>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
