{% extends "layouts/main.html" %}

{% block pageTitle %}
  Book a Consultation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What type of consultation are you interested in?
      </h1>

      <form class="form" action="/check-answers" method="post">

        {{ govukRadios({
          name: "consultation-type",
          fieldset: {
            legend: {
              text: "Select the type of consultation",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "UX Design",
              text: "UX Design"
            },
            {
              value: "Training Sessions",
              text: "Training Sessions"
            },
            {
              value: "Other",
              text: "Other"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
