{% extends "layouts/main.html" %}

{% block pageTitle %}
  Book a Consultation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What's your email address?
      </h1>

      <form class="form" action="/type" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email
          </label>
          <input class="govuk-input" id="email" name="email" type="email" required>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
